.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 60px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1.5px;

  &.light {
    color: #fff;
  }
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  letter-spacing: 0.5px;
}

.cta {
  color: #fff;
  background-image: linear-gradient(270deg,#fb00ff,#fc2fa9,#fd5b57,#ff8a01);
  box-shadow: 0 3px 10px rgba(31,30,48,.15), inset 0 0 20px rgba(22,191,255,0);
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  padding: 16px 45px;
  display: inline-block;
  transition: all .20s ease;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 600;

  &:hover {
    filter: hue-rotate(-389deg);
  }
}